h1   {  font-size: 18px;}
img  {  border: 0;}
table{  border-collapse: collapse;}

a:hover.link {
 color: #004400;
}

a.sidebarlink, a:visited.sidebarlink {
 color: #111;
 font-family: 'Lucida Grande',Tahoma,Verdana,Helvetica,sans-serif;
 font-size: 11px;
 font-weight: normal;
 line-height: 17px;
 margin-left: 14px;
 margin-right: 8px;
}

a:hover.sidebarlink {
 color: #009999;
}

.a {
 color: #000;
 font-family: 'Lucida Grande',Tahoma,Verdana,Helvetica,sans-serif;
 font-size: 11px;
 font-weight: normal;
 text-decoration: none;
}

.link {
 color: #009999;
 font-family: 'Lucida Grande',Tahoma,Verdana,Helvetica,sans-serif;
 font-size: 12px;
 font-weight: normal;
 text-decoration: none;
}

.primeTableCell {
 padding-bottom: 2px;
 padding-left:  12px;
 padding-right: 12px;
 padding-top:    2px;
}

.sidebartitle{
 color: #111;
 font-family: 'Lucida Grande',Tahoma,Verdana,Helvetica,sans-serif;
 font-size: 14px;
 font-weight: normal;
}

.sumOfDigits thead{font-weight: bold;}
.sumOfDigits td   {padding:2px;}

.table td{border:1px solid #000}

.text {
 color: #000;
 font-family: 'Lucida Grande',Tahoma,Verdana,Helvetica,sans-serif;
 font-size: 12px;
 font-weight: normal;
 text-decoration: none;
}

.title {
 color: #000;
 font-family: 'Lucida Grande',Tahoma,Verdana,Helvetica,sans-serif;
 font-size: 18px;
 font-weight: bold;
 text-decoration: none;
}
