##Pages rewrite rules.
Options +FollowSymlinks
RewriteEngine on
RewriteBase /

open_basedir = /srv/bigprimes.net/public/htdocs/

#Add the slash to the end of url
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond !(.*)/(.*).(.*)
RewriteCond %{REQUEST_URI} !assets/(.*)$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ $1/ [R=301]

##Rss
RewriteRule ^rss/([a-z0-9_-]+)/$  raw.php?page=rss/$1 [NC]
#Cruncher Re-Write Rules
RewriteRule ^cruncher/([0-9]+)/$  index.php?page=cruncher&number=$1 [NC,L]
#Prime Archive
RewriteRule ^archive/prime/([0-9]+)/$  index.php?page=archive/prime&num=$1 [NC,L]
#Fibonacci Archive
RewriteRule ^archive/fibonacci/([0-9]+)/$  index.php?page=archive/fibonacci&num=$1 [NC,L]

##Default Re-Write Rules.
#rewrite pages such as index.php?page=custom
RewriteRule ^([a-z0-9_-]+)/$  index.php?page=$1 [NC]
RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)/$  index.php?page=$1/$2 [NC]
RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)/([a-z0-9_-]+)/$  index.php?page=$1/$2/$3 [NC]


##Error Documents.
ErrorDocument 404 /err/404.php
